<!DOCTYPE html>
<html lang="pt-br">
<head>
	<style>
		body {background-color: grey;}
	</style>
	<meta charset="utf-8">
	<title>PQP Shop</title>
</head>
<body>
	<big>Welcome to PQP Shop!</big>
	<div></div>
	<hr>
	<p> Enter your user and password: </p>
	<form action="processamento.php" method="post">
		<label>Usuário:</label>
		<input type="text" name="usuario">
		<label>Senha:</label>
		<input type="password" name="senha">
		<input type="submit" name ="login" value="Login">
<script>
	
</script>
</body>
</html>